<% provide(:title, 'Home') %>
  
<div class="center hero-unit">
  <h1>Welcome to Cyclo6!</h1>
Organic chemistry will never be the same again!

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>